NIEMIECKO POLSKI

HEADER_FULL:
fleksja: szare, pochylone
<span class=\"flexion\">

fonetyka: brak zmian
<span class='phonetics'>

info (nie ogarniam): pochylone
<span class=\"info\">

worldclass: duze litery
<span class=\"wordclass\">
genus
--


headword: strong-bold;
<strong class=\"headword\">

sense: normal
<span class=\"sense\">

genus(rodzaj): pochylony normalny
<span class=\"genus\">

acronym [masculine]: tak jak genus
<acronym title=\"masculine\">
<acronym title=\"neuter\">

example: pochylony
<span class=\"example\">

tile: pochylony, pogrubiony
<strong class=\"tilde\">

perf (forma dokonana)
<span class=\"perf\">

opisuje tekst perf: pochylony zwykly
<span class=\"tempus\"><acronym title=\"perfective form\">

tekst oder, bez zmian
<span class=\"or\">

styl: 80% koloru
<span class=\"style\">

kategoria: mniejsza czcionka szary duze litery
 <span class=\"topic\">

targer: zazwyczaj otacza []
 <span class=\"target\">

rhetoric: przysłowie bez zmian
 <span class=\"rhetoric\">

idiom-proverb: powiedzenie
<span class=\"idiom_proverb\">

case: rodzajnik: pochylony szary normalny
<span class=\"case\">

klasa czasownika
<span class=\"verbclass\">

--
REGIONALNE
<span class=\"grammar SUBST\">
flaga
<span class=\"region\"> 

 --
 ACRONIMY
 <acronym title=\"Austrian\" class=\"A\"> 